:root {
    --border-color: greenyellow;
}
body {
    background-color: #000000;
    overflow: hidden;
    color: white;
}
#lit {
    font-size: x-large;
}
@media (max-width: 500px) {
    #image {
        background-size: 100vh 100vh;
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }  
}
@media (min-width: 501px) {
    #image {
        background-size: 100% 100vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}
#image {
    background-size: 100% 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
h1 {
    position: absolute;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0.1vh 0.1vh 3vh orange;
    z-index: 2;
    left: 50%;
    top: 3%;
    transform: translate(-50%, 50%);
    font-size: xx-large;
}
button {
    background-color: black;
    color: orange;
    border: none;
    padding: 3vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 2vh;
    font-size: xx-large;
    border-radius: 2vh;
    box-shadow: 0.1vh 0.1vh 1vh white;
    text-shadow: 0.1vh 0.1vh 0 var(--border-color), -0.1vh -0.1vh 0 var(--border-color), -0.1vh 0.1vh 0 var(--border-color), 0.1vh -0.1vh var(--border-color);
}
a {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: white;
}
p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    height: 100%;
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
}
#downloadButton {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}